<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<array>
		<dict>
			<key>orientation</key>
			<string>h</string>
			<key>height</key>
			<integer>212</integer>
			<key>children</key>
			<array>
				<dict>
					<key>image</key>
					<string>https://i.huim.com/miaoquan/14966511524892.SS2!/both/300x300/unsharp/true</string>
					<key>weight</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>orientation</key>
					<string>v</string>
					<key>weight</key>
					<string>3</string>
					<key>children</key>
					<array>
						<dict>
							<key>image</key>
							<string>https://i.huim.com/miaoquan/14963170206106.jpg!/both/300x300/unsharp/true</string>
							<key>weight</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>orientation</key>
							<string>h</string>
							<key>weight</key>
							<integer>1</integer>
							<key>children</key>
							<array>
								<dict>
									<key>image</key>
									<string>https://i.huim.com/miaoquan/14968041079523.jpg!/compress/true/both/300x300</string>
									<key>weight</key>
									<integer>1</integer>
								</dict>
								<dict>
									<key>image</key>
									<string>https://i.huim.com/miaoquan/14968026112335.jpg!/compress/true/both/300x300</string>
									<key>weight</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>orientation</key>
			<string>h</string>
			<key>height</key>
			<integer>138</integer>
			<key>children</key>
			<array>
				<dict>
					<key>image</key>
					<string>https://i.huim.com/miaoquan/14929203253142.SS2!/both/300x300/unsharp/true</string>
					<key>weight</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>image</key>
					<string>https://i.huim.com/contents/14828912708690.jpg!/both/300x300/unsharp/true</string>
					<key>weight</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>image</key>
					<string>https://i.huim.com/miaoquan/14968146185109.jpg!/both/300x300/unsharp/true</string>
					<key>weight</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>image</key>
					<string>https://i.huim.com/miaoquan/14968145059484.jpg!/both/300x300/unsharp/true</string>
					<key>weight</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
